/* 版面設定 */

body{
    background-color: #c1dbff;
    }
    
    /* 頁面標題設定 */
    img{
        width:10%;
        padding-bottom:20px; 
        filter: saturate (8);
        vertical-align:middle;}

    @media (max-width:600px){
        img{
        width:15%;
        padding-bottom:20px; 
        filter: saturate (8);
        vertical-align:middle;}
    }

    
    /* 連結顏色設定 */
    
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
        
    /* area1 header */
    header {
        font-size:150%; 
        top:0; left:0; right: 0;
        display: flex;
        justify-content: space-between;
        align-items: left;
        padding:1%;
        background-color: #333a6c;
    }
    
   img{
        vertical-align:middle;}

    .header .text {
        color:#ffffff;
        display: inline-block;
        vertical-align:middle;
        font-size: 150%;
    }

    h1 a{
        color:white;
        text-decoration: none;
        font-size: 50%	}
    h1 a:hover{
        text-decoration: underline;
    }

    @media (max-width:600px) {
    
        header {
            font-size:15px; position: fixed;
            top:0; left:0; right: 0;
            display: flex;
            justify-content: space-between;
            align-items: left;
            padding:2%;
            background-color: #333a6c;
            opacity: 0.9;
        
            }
        
}


    /* area2 作者前言 */

    img{
        width:5%;
    }
    /* area3 內文 */
    
    p{
        font-size: 150%;
        white-space: pre-line;}

    button {
        font-size:200%;
        color: white;
        border: none;
        background-color:#8e98e2; /* Navy */
    }

    a {
        color:#000000;
        text-decoration: none;
            font-size: 100%	
        }
    
    a:hover{
        color: #df4839;
        text-decoration: underline
        }
    
        @media (max-width:600px){
            p{
                font-size: 150%;
                white-space: pre-line;}
            }        
  

                


    
    /* RWD 手機版 */
