/* 版面設定 */

body{
    background-color: #c1dbff;
    }
    
    /* 頁面標題設定 */
    img{
        width:10%;
        padding-bottom:20px; 
        filter: saturate (8);
        vertical-align:middle;}

    @media (max-width:600px){
        img{
        width:15%;
        padding-bottom:20px; 
        filter: saturate (8);
        vertical-align:middle;}
    }

    
    /* 連結顏色設定 */
    
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
        
    /* area1 header */
    header {
        font-size: 150%;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0;
        padding: 1%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #333a6c;
    }
    
     .header .text {
			color:#ffffff;
			display: inline-block;
            position: static;
			vertical-align:middle;
			font-size: 200%;
		}

    @media (max-width:600px){h1{
        font-size:225%;
        vertical-align:middle;
        }}


    /* area2 作者前言 */

    img{
        width:5%;
    }
    /* area3 內文 */
    
    p{
        font-size: 200%;
        white-space: pre-line;}

    
        @media (max-width:600px){
            p{
                font-size: 150%;
                white-space: pre-line;}
            }        
  
    
    
    
    /* RWD 手機版 */