/* 版面設定 */

body{
    background-color: #c1dbff;
    }
    
    /* 頁面標題設定 */
    img{
        width:8%;
        padding-bottom:20px; 
        filter: saturate (8);}

    @media (max-width:600px){
        img{
        width:15%;
        padding-bottom:20px; 
        filter: saturate (8);}
    }

    
    /* 連結顏色設定 */
    
    
        
    /* area1 header */
    h1{
    font-size:300%;
    }

    @media (max-width:600px){h1{
        font-size:225%;
        }}


    /* area2 作者前言 */
    
    /* area3 內文 */
    
    p{
        font-size: 200%;
        white-space: pre-line;}

    
        @media (max-width:600px){
            p{
                font-size: 150%;
                white-space: pre-line;}
            }        
  
    
    
    
    /* RWD 手機版 */