@charset "utf-8";



/* 版面設定 */

body  { 
	background-color: #c1dbff;  
	backdrop-filter: brightness(150%);  
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	backdrop-filter: blur(0px);}

	/* 頁面標題設定 */
	
		
		/* 連結顏色設定 */
	
	a {
		color:#000000
		}
	
	a:hover{
		color: #df4839;
		}
		
		/* area1 header */
		
		h1 {
		color: #ffffff;
		}
		
		header {
			font-size:20px; position: fixed;
			top:0; left:0; right: 0;
			inset: 80;
			display: flex;
			justify-content: space-between;
			align-items: left;
			padding: 10px;
			background-color: #333a6c;
			opacity: 0.9;
		}
	
		header img{
			width:125px; height:125px; 
			padding-bottom:-10px; 
			filter: saturate (8);
		}


/* area2 */


/* area3 chapter */

h2{
color: #ffffff;
font-size: 30px
}
body{
background-color: #c1dbff;
}



/* RWD 手機版 */
